.slider-admin-grid {
	.block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 20px;
		align-items: stretch;
	}

	.block-editor-block-list__block {
		margin-bottom: 0;
		margin-top:0;
	}

	// Den "Hinzufügen" Button am Ende stylen
	.block-list-appender {
		display: flex;
		align-items: stretch;
		margin-top: 0;

		.block-editor-button-block-appender {
			width: 50px;
			height: 50px;
			background: #333;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			transition: all 0.2s ease;

			&:hover {
				background: #000;
			}

			// Das Icon im Button vergrößern
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}

.slide-edit-card {
	background: #fff;
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	margin-top: 0;
	margin-bottom: 0;

	.slide-preview {
		position: relative;
		margin-bottom: 10px;
		width: 100%;
		height: 250px;
		img { border-radius: 4px; object-fit: cover; width: 100%; height: 100%; max-height: 250px; }
		.remove-media {
			position: absolute;
			top: -10px; right: -10px;
			background: #c1121f;
			color: white;
			border: none;
			border-radius: 50%;
			display: flex; justify-content: center; align-items: center;
			height: 30px;
			width: 30px;
			line-height: 1;
			cursor: pointer;
		}
	}

	.slide-content-edit {
		h3 { margin: 0 0 5px 0; font-size: 1.1rem; }
		p { font-size: 0.9rem; color: #666; margin:0; height:130px; }
		input {
			width: 100%;
			margin-top: 5px;
			font-size: 0.8rem;
			padding: 4px;
		}
	}
}
