@import "@splidejs/splide/css";

.wp-block-kuestenkrieger-slider {
	margin: 0;

	// Reset für die Splide-Liste (verhindert Abstände vom Theme)
	.splide__list {
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}

	// Reset für die einzelnen Slides
	.splide__slide {
		margin: 0 !important;
		height: 100%;
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.slide-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.35);
			display: flex;
			align-items: center;
			justify-content: center;
			.slide-overlay-inner {
				text-align: center;
				color: #fff;
			}
		}
	}

	.splide[data-overlay="true"] .slide-overlay {
		display: none;
	}

	&.is-fullscreen {
		width: 100vw !important;
		height: 100vh;
		position: relative;
	}
}

.position-relative {
	position: relative !important; // Wichtig, damit das Overlay hier ankerst
	display: block;
	width: 100%;
}

.general-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100; // Höher als die Splide-Controls
	pointer-events: none; // Damit man den Slider (falls Arrows aktiv) noch bedienen kann

	.general-overlay-inner {
		max-width: 1000px;
		text-align: center;
		color: #fff;
		pointer-events: auto;
		h2.decorative-text {
			white-space: pre-line;
		}

		p {
			white-space: pre-line;
			max-width: 700px;
			margin: 0 auto 2rem auto;
			font-size: 1.25rem;
			@media (min-width: 64rem) {
				font-size: 1.5rem;
			}
		}
	}
}
